# Distribution / packaging
.python-version
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
env/
ENV/
venv/
.venv/
__pypackages__/
__pycache__/
*.py[cod]
*$py.class
.idea/

# Project specific
Readings/
H*/

